body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 136px;
  background: #fff;
  margin: 0 auto;
  min-height: 100vh;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
  background: #f6f6fe;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item ul li {
  width: 360px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  background-color: #f6f6fe;
}

.item h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  color: #2e2f42;
}
